@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.icon-link {
    @apply z-[9999];
}


* {
    font-family: "Montserrat", sans-serif;
}

::selection {
    background-color: #4eb876;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
}

html {
    scroll-behavior: smooth;
}

